.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  height: 100%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.recepient_name {
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	animation: typing 7.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.blinker {
	animation: blinker 1s step-end infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}